<div class="width">
    <div class="one"></div>
    <div class="two">

        <mat-card class="example-card" *ngFor="let option of data| slice: lowValue : highValue">


            <p class="headers">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{option.userName}}
                    </mat-card-title>
                    <mat-card-subtitle>{{option.role}}<p>posted-on:{{option.postedOn}}</p>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>

                    <p>{{option.post}}</p>
                </mat-card-content>
            </p>
            <div class="buttons">
                <div class="like">
                    <button mat-button (click)="like()">
                        <mat-icon>thumb_up</mat-icon>&nbsp;
                        <span>Like</span>
                    </button></div>
                <div class="disLike">

                    <button mat-button (click)="disLike()">
                        <mat-icon>thumb_down</mat-icon>&nbsp;
                        <span>Dislike</span>
                    </button></div>
                <div class="space"></div>
                <div class="approve"> <button mat-raised-button color="primary" 
                        (click)="approve(option,option.pId)">Approve</button></div>
                <div class="reject"> <button mat-raised-button color="warn"
                        (click)="reject(option,option.pId)">Reject</button></div>

            </div>
        </mat-card>

        <mat-paginator [length]="length" [pageSize]="pageSize" (page)="getPaginatorData($event)">
        </mat-paginator>
    </div>
</div>