<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <ul class="breadcrumb">
            <li><a (click)="gotoHome()">Home</a></li>
            <li><a (click)="details()">{{projectname}}</a></li>
            <li>Documents</li>
        </ul>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 customer">
        Customer Name : <b style="color: #0275d8;">Miracle Software Systems</b>
    </div>
</div>

<!-- <div style="background-color: rgb(240,240,240);"> -->
<div class="card" style="margin-top: 7px;">
    <nz-collapse nzAccordion>
        <nz-collapse-panel [nzHeader]="header" [nzActive]="false">
            <form [formGroup]="searchForm">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                        <label>Document Name</label>
                        <input nz-input placeholder="Document Name" name="title" formControlName="searchDOcName" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                        <label>Owner</label>
                        <input nz-input placeholder="Owner" name="title" formControlName="searchOwner" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                        <label>Updated Date</label>
                        <nz-date-picker formControlName="searchDate" nzFormat="MM-dd-yyyy"></nz-date-picker>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                        <label> Document Type</label>
                        <nz-select nzAllowClear (ngModelChange)="onChange()" formControlName="searchDocType"
                            nzPlaceHolder="Document Type">

                            <nz-option name="type" *ngFor="let type of optionList" [nzValue]="type.Value"
                                [nzLabel]="type.Label">
                            </nz-option>
                        </nz-select>

                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <button class="btn1" (click)="getTableData()" nz-button nzType="primary"><i nz-icon
                                nzType="search"></i>Search</button>&nbsp;
                        <button class="btn2" (click)="resetSearchFields()" nz-button nzType="primary"><i nz-icon
                                nzType="redo"></i>Reset</button>
                    </div>
                </div>
            </form>
        </nz-collapse-panel>
    </nz-collapse>
</div>
<div class="card">
    <div class="card-body" style="padding: 0px 15px;">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <h6 style="margin-top: 16px;margin-left: 8px;">No. of Records : {{records}}</h6>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <button class="btn" (click)="addRow()" nz-button nzType="primary"><i nz-icon
                                nzType="plus"></i>Add</button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <!-- <nz-table style="margin-top: 20px;" #expandTable [nzData]="tableData"> -->
                <nz-table style="margin-top: 10px;" #expandTable [nzData]="tableData" nzTableLayout="fixed"
                    [nzPaginationPosition] nzShowSizeChanger nzShowPagination [nzFrontPagination]="false"
                    [nzTotal]="totalPages" [nzPageSize]="pageSize" [nzPageIndex]="pageNum"
                    (nzPageIndexChange)="onCurrentPageDataChange($event)" (nzPageSizeChange)="onPageSizeChange($event)">
                    <thead>

                        <tr>
                            <th *ngFor="let column of listOfColumns" [nzSortOrder]="column.sortOrder"
                                [nzSortFn]="column.sortFn" [nzWidth]="column.width">
                                {{ column.name }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of tableData">
                            <td>
                                <span style="padding: 0px 5px 0px 0px;"><i nz-icon nzType="file"
                                        nzTheme="twotone"></i></span>
                                {{data.fileName}}
                            </td>
                            <td>{{data.createdBy}}</td>

                            <td> {{data.createdDate | date: 'MM-dd-yyyy'}}</td>
                            <td>{{ documentType[data.docType] }}</td>
                            <td>
                                <span>
                                    <i nz-icon nzType="download" (click)="downloadFile(data.path)"
                                        nzTheme="outline"></i>
                                </span>
                                <span Style="padding-left:  19px;">
                                    <i nz-icon nzType="delete" nz-popconfirm
                                        nzPopconfirmTitle="Sure to Delete?"
                                        (nzOnConfirm)="deleteRow(data)" (nzOnCancel)="cancel()" nzTheme="fill"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>

                </nz-table>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->



<nz-modal [(nzVisible)]="isAddVisible" nzTitle="Add Project Documents" (nzOnCancel)="addcancel()"
    [nzFooter]="modalFooter2">

    <form nz-form [formGroup]="addform">


        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <label>Document Type :</label><br>
                <nz-select nzAllowClear nzPlaceHolder="Document Type" formControlName="doctype"
                    (ngModelChange)="onSelectType($event)">
                    <nz-option *ngFor="let option of optionList" [nzValue]="option.Value" [nzLabel]="option.Label">
                    </nz-option>
                </nz-select>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <label>Attachment :</label>
                <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" nzListType="picture-card"
                    [(nzFileList)]="fileList" [nzMultiple]="true" [nzShowButton]="true" [nzPreview]="handlePreview"
                    (nzChange)="onFileChange($event)">
                    <i nz-icon nzType="plus"></i>
                    <div class="ant-upload-text">Upload</div>
                </nz-upload>
                <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                    (nzOnCancel)="previewVisible = false">
                    <ng-template #modalContent>
                        <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                    </ng-template>
                </nz-modal>
            </div>
        </div>
        <ng-template #modalFooter2>
            <button nz-button nzType="primary" (click)="Save()"> <i nz-icon nzType="save"></i>Save</button>
            <button nz-button nzType="primary" (click)="addcancel()"> <i nz-icon nzType="close"></i>Cancel</button>
        </ng-template>
    </form>
</nz-modal>