.card mat-card{
    padding: 0px;
     margin-top: 3.5%;    
   
}
.form{
  
    padding: 30px; 
    width: 100%;
   
}
.name{
    width:45%;
}
.user{
    width: 100%;
    margin-top:10px;
  
}


// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex{
//     width: 100px;
// }