.body{
    height:70%;
    flex:4 1 0;
    display: flex;
    flex-direction: row;
    background-color:rgb(252, 252, 252);
    
    width:100%;
    
}
.one{
    flex:6 1 0;
    
}
.two{
    flex: 4 1 0;
    // margin-top: 70px;
}
.three{
    flex: 2 1 0;
    padding-top:5px;
}
.button{
    margin-left:20px;
    margin-right: 20px;
    background-color:#689F38 ;
    color:white;

}
.toolBar{
    padding:50px;
}
.data{
    // padding:50px;
    font-size: 24px;
    display: flex;
    direction: row;
}
.pTgPdg{
    padding:50px;
}

.one{
flex:10 1 0;
}
.two{
    flex:2 1 0
}
.example-card {
    // max-width: 247px;
    height:209px;
    width:130px;
    // margin-right:10px;
    // margin-bottom: 10px;
    margin:5px
  }
  .flexCard{
    display: flex;
    // flex-direction: row; 
    flex-wrap: wrap;
//     display: grid;
// grid:   auto auto auto auto auto auto auto;
// grid-gap: 10px; 
  
  }
  .one1{
    flex:1 1 0;
    }
