<!-- <div class="body"> -->
<div>
    <mat-tab-group>
        <mat-tab label="Home">
            <!-- <mat-toolbar  class="toolBar" >Recommeded only for you</mat-toolbar> -->
            <div class="pTgPdg">
                <div>
                    <div class="data">
                        <div class="one">Recommeded for you </div>
                        <div class="two" flexLayout="End"> <button mat-raised-button class="button">See
                                more</button></div>
                    </div>
                </div>
                <div class="flexCard">
                    <!-- <div fxLayout="row-wrap" fxLayoutAlign="center"  > -->
                    <mat-card class="example-card" *ngFor="let option of data" fxLayoutGap="20">
                        <img mat-card-image style="padding:20px;width:90%;height:55%" src="{{option.img}}" />
                        <mat-card-content>{{option.name}}</mat-card-content>
                        <mat-card-content>{{option.company}}</mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Top charts"> Content 2 </mat-tab>
        <mat-tab label="New releases"> Content 3 </mat-tab>

    </mat-tab-group>
</div>






<div layout="row" layout-sm="column">
    <div flex="">
        I'm above on mobile, and to the left on larger devices.
    </div>
    <div flex="">
        I'm below on mobile, and to the right on larger devices.
    </div>
</div>

<!-- </div> -->