<a href="http://blog.miraclesoft.com" target="_blank" class="mr-3 item">
  <img src="assets/B.svg" height="20px" width="20px" nz-tooltip [nzTooltipTitle]="data"
  nzTooltipPlacement="bottom">
  <!-- <button class="btn btn-default tip m-b-5 m-r-5" placement="top" tooltip="Up here!" type="button">Top</button> -->
</a>
<!-- <nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>
      <a href="javascript: void(0);">Current search</a>
    </li>
    <li nz-menu-item>
      <a href="javascript: void(0);">Search for issues</a>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-group>
      <span title>Opened</span>
      <ul class="list-unstyled">
        <li nz-menu-item>
          <a href="javascript: void(0);">
            <i class="fe fe-check-circle mr-2"></i>
            CLNUI-253 Project implemen...
          </a>
        </li>
        <li nz-menu-item>
          <a href="javascript: void(0);">
            <i class="fe fe-check-circle mr-2"></i>
            CLNUI-234 Active history iss...
          </a>
        </li>
        <li nz-menu-item>
          <a href="javascript: void(0);">
            <i class="fe fe-check-circle mr-2"></i>
            CLNUI-424 Ionicons intergrat...
          </a>
        </li>
        <li nz-menu-item>
          <a href="javascript: void(0);">More</a>
        </li>
      </ul>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-group>
      <span title>Filters</span>
      <ul class="list-unstyled">
        <li nz-menu-item>
          <a href="javascript: void(0);">My open issues</a>
        </li>
        <li nz-menu-item>
          <a href="javascript: void(0);">Reported by me</a>
        </li>
      </ul>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item>
      <a href="javascript: void(0);">
        <i class="fe fe-settings mr-2"></i>
        Settings
      </a>
    </li>
  </ul>
</nz-dropdown-menu> -->