.btn {
  margin-top: 12px;
  float: right;
  margin-right: 10px;
  margin-bottom: -2px;
  }
  @media (min-width: 300px) and (max-width: 500px) {
    .btn {
    width: 100%;
    float: right;
    }
    }
  @media (min-width: 501px) and (max-width: 767px) {
  .btn {
  width: 100px;
  float: right;
  }
}
