
mat-nav-list{
    height:675px;
    width:200px;
    // background-color:rgb(211, 211, 211);
}
.divWhite{
    background-color:rgb(255, 255, 255);
}
.divBrown{
    background-color:rgb(223, 219, 219);
    padding-left:15px
}