<mat-nav-list style="margin-top: 80px;">
    <a mat-list-item routerLinkActive="list-item-active" style="background-color: #689f38;">
        <p style="  padding-left:50px;color: rgb(224, 226, 223);"> Apps</p>
    </a>
    <div class="divWhite">
        <a mat-list-item routerLinkActive="list-item-active">
            <p style="color: rgb(133, 133, 133);">My apps</p>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/getEmployees">
            <p style="color:   rgb(133, 133, 133);">SHOP</p>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/getEmployees">
            <p style="color:  rgb(133, 133, 133);">Games</p>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/getEmployees">
            <p style="color:   rgb(133, 133, 133);">kids</p>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/getEmployees">
            <p style="color:  rgb(133, 133, 133);">editors choice</p>
        </a>
        <!-- <button mat-raised-button color="primary" class="button">hii </button>
       <button mat-raised-button color="primary" class="button">hello</button> -->
    </div>
    <div class="divBrown">
        <a mat-list-item routerLinkActive="list-item-active">
            <p style="color: rgb(133, 133, 133);">Accounts</p>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/getEmployees">
            <p style="color:   rgb(133, 133, 133);">Payment methods</p>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/getEmployees">
            <p style="color:  rgb(133, 133, 133);">My subscribtions</p>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/getEmployees">
            <p style="color:   rgb(133, 133, 133);">Redeem</p>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/getEmployees">
            <p style="color:  rgb(133, 133, 133);">Parent guide</p>
        </a>
    </div>
</mat-nav-list>