<!-- <mat-toolbar> -->
<div class="width">
    <div class="one">
        <a href="https://play.google.com/store" target=_blank><img
                src="https://www.gstatic.com/android/market_images/web/play_prism_hlock_2x.png" style=" height: 40px;padding-top: 7px;
                    "></a>
    </div>
    <div class="two">
        <mat-form-field style="width:50%;margin-left: 50px;height:10px,;padding-top: 12px;" class="field" >
            <mat-label for="search">search </mat-label>
            <mat-icon matSuffix>search</mat-icon>
            <input matInput id="userName" autocomplete="off" type="text" placeholder="search" 
                maxlength="40">
        </mat-form-field>
    </div>
    <div class="three" fxLayoutAlign="end">
        <button mat-raised-button color="primary" class="button">sign-in</button>

    </div>
    <!-- </mat-toolbar> -->