<!----------- Bread Crumb ----------------->
<div class="row">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    <ul class="breadcrumb">
      <li><a (click)="goToHome()">Home</a></li>
      <li><a (click)="goToDashboard()">{{ProjectName}}</a></li>
      <li>SLA</li>
    </ul>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 customer">
    Customer Name : <b class="cName">{{customerName}}</b>
  </div>
</div>
<!----------------- SLA Table ----------------->
<div class="card" id="grid1">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12"></div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
      <button class="btn" (click)="addRow()" nz-button nzType="primary"><i nz-icon nzType="plus"></i>Add</button>
    </div>
  </div>
  <div class="card-body" id="gridBody">
    <nz-table #basicTable [nzShowPagination]="false" nzBordered class="tablescroll" [nzData]="tableData">
      <thead>
        <tr>
          <th nzWidth="4%" class="sla">Sla Targets </th>
          <th nzWidth="4%" class="low">Low(Days)</th>
          <th nzWidth="4%" class="normal">Normal(Days)</th>
          <th nzWidth="4%" class="high">High(Days)</th>
          <th nzWidth="4%" class="urgent">Urgent(Hours)</th>
          <th nzWidth="1%" class="action">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data  ">
          <td>{{data.slaTargets}}</td>
          <td>{{ data.low }}</td>
          <td>{{ data.normal }}</td>
          <td>{{data.high}}</td>
          <td>{{data.urgent}}</td>
          <td>
            <i nz-icon class="icon" nzType="edit" nzTheme="outline" (click)="editRow(data)"> </i>&nbsp;
            <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteTarget(data.id)">
              <i nz-icon class="icon" nzTheme="outline" nzType="delete"></i> </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<!--------------Model for add and edit a Target---------->
<nz-modal nzWidth="35%" nzHeight="60%" [(nzVisible)]="modelVisible" [nzTitle]="modalTitle" (nzOnCancel)="cancel()" [nzFooter]="modalFooter">
  <ng-template #modalTitle> {{addEditdailogheader}} </ng-template>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <label>SLA Target <span class="validationtest"> *</span> </label>
        <nz-select class="label1" nzAllowClear nzPlaceHolder="SLA Target" formControlName="slaTarget">
          <nz-option *ngFor="let option of optionList" [nzValue]="option.Value" [nzLabel]="option.Label">
          </nz-option>
        </nz-select>
        <div>
          <span class="validationtest"
            *ngIf="form.controls.slaTarget.touched && form.controls.slaTarget.invalid && form.controls.slaTarget.errors.required">
            Please select sla target
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <label>Low(days)<span class="validationtest"> *</span> </label> 
        <input autocomplete="off" class="label" nz-input nzLabel="Task Name" placeholder="Low" required name="taskName1"
          formControlName="low" />
        <div>
          <span class="validationtest"
            *ngIf="form.controls.low.touched && form.controls.low.invalid && form.controls.low.errors.required">
            Please enter required time
          </span>
        </div>
        <div *ngIf="this.form.get('low').errors?.maxlength">
          <span class="text-danger">Allowed upto 150 Characters only</span></div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <label>Normal(days) <span class="validationtest"> *</span></label> 
        <input autocomplete="off" class="label" nz-input nzLabel="Task Name" placeholder="Normal" required
          name="taskName1" formControlName="normal" />
        <div>
          <span class="validationtest"
            *ngIf="form.controls.normal.touched && form.controls.normal.invalid && form.controls.normal.errors.required">
            Please enter required time
          </span>
        </div>
        <div *ngIf="this.form.get('normal').errors?.maxlength">
          <span class="text-danger">Allowed upto 150 Characters only</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <label>High(days) <span class="validationtest"> *</span></label>
        <input autocomplete="off" class="label" nz-input nzLabel="Task Name" placeholder="High" required
          name="taskName1" formControlName="high" />
        <div>
          <span class="validationtest"
            *ngIf="form.controls.high.touched && form.controls.high.invalid && form.controls.high.errors.required">
            Please enter required time
          </span>
        </div>
        <div *ngIf="this.form.get('high').errors?.maxlength">
          <span class="text-danger">Allowed upto 150 Characters only</span></div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <label>Urgent(hours)<span class="validationtest"> *</span> </label> 
        <input autocomplete="off" class="label" nz-input nzLabel="Task Name" placeholder="Urgent" required
          name="taskName1" formControlName="urgent" />
        <div>
          <span class="validationtest"
            *ngIf="form.controls.urgent.touched && form.controls.urgent.invalid && form.controls.urgent.errors.required">
            Please enter required time
          </span>
        </div>
        <div *ngIf="this.form.get('urgent').errors?.maxlength">
          <span class="text-danger">Allowed upto 150 Characters only</span></div>
      </div>
    </div>
      <ng-template #modalFooter>
      <button nz-button class="cancel" nzType="primary" (click)="cancel()"><i nz-icon nzType="close"
          nzTheme="outline"></i>Cancel</button>
      <button nz-button class="save" *ngIf="addBtn === true" [disabled]="btnDisabled" nzType="primary"
        (click)="addTarget()"><i nz-icon nzType="save"></i>Save</button>
      <button nz-button class="save" *ngIf="editBtn === true" nzTheme="outline" nzType="primary"
        (click)="updateTarget()"><i nz-icon nzType="edit"></i>Update</button>
    </ng-template>
  </form>
</nz-modal>