<div id="list" class="list"></div>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div>
    <header class="header">
        <img src="assets/img2.png" style="text-align:right;width:6%;margin-left:0% ">
        <img src="assets/img.png" style="text-align:left;width: 8%;;float: right;">
        
    </header>
    </div> 

<!-- The sidebar -->
<div class="sidenav">
  
    <div class="add">
        <a href="add"> 
        <button class="btn btn-success btn"><span class="glyphicon glyphicon-plus-sign"></span>Add</button></a>
        <br>
        <!-- <div class="update"></div>
        <a href="update"><button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Update</button></a>
        <br>
        <div class="delete"></div> -->
        <a href="delete">
            <button class="btn btn-danger "><span class="glyphicon glyphicon-trash"></span> Delete</button></a>
        <br>
        <div class="list"></div>
        <a href="list">
            <button class="btn btn-info "><span class="glyphicon glyphicon-list"></span>List</button></a>
    </div>
</div>
<div class="content">
    Register your details using add and verify your details using list
</div>
<!-- class="rounded-circle" -->