<!-- 
    <div class= "list1">
    <h2>Users List</h2>
</div>
<div class="list">
    <table >
      <tr>
        <th>ID</th>
        <th> student_name</th>
        <th> college_name</th>
        <th>college_code </th>
        <th>PhoneNum</th>
        <th>Email</th>
        <th>Edit/Delete</th>
      </tr>
      <tr ng-repeat="user in users">
        <td>1</td>
        <td>Gowri</td>
        <td>VR Sidd</td>
        <td>521366</td>
        <td>9100345889</td>
        <td>gowri@gmail.com</td>
        <td>
  
          <button class="w3-btn w3-ripple" (click)="editUser()">Edit</button>
         <button class="btn btn-danger btn-sm" ng-click="dleteUser(user.id)">Delete</button>
        </td>
  
      </tr>
    </table>
  
  
    <button class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete">&#10004; Save Changes</button>
  
  
  </div>
  
  <script src="myUsers.js"></script> -->
<div class="row main">
<div class="center">
  <table class=" table table-hover" style="table-layout: inherit;padding-top: 150px;" >
    <thead>
      <tr>
        <th><b>college_code</b></th>
        <th><b>college_name</b></th>
        <th><b>email_id</b></th>
        <th><b>id</b></th>
        <th><b>phone_number</b></th>
        <th><b>student_branch</b></th>
        <th><b>student_name</b></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let option of GridData">
        <td>{{option.college_code}}</td>
        <td>{{option.college_name}}</td>
        <td>{{option.email_id}}</td>
        <td>{{option.id}}</td>
        <td>{{option.phone_number}}</td>
        <td>{{option.student_branch}}</td>
        <td>{{option.student_name}}</td>
        <td class="text-center"><button class="button" (click)="delete(option.id)">Delete</button></td>
        <td class="text-center"><button class="button1" (click)="edit(option.id)">edit</button></td>
      </tr>
    </tbody>
  </table>

</div>