.card mat-card{
    padding: 0px;
     margin-top: 7.5%;       
}
.form{ 
    padding: 30px; 
    width: 100%;
}
.button {
    display: flex;
    flex-direction: row-reverse;
    margin: 6px;
  }
.field{
    width:100%;
}
.fields{
    width:45%;
    padding-right: 15px;
}