<div fxLayoutAlign="center center" class="card">


    <mat-card fxFlex="35">
        <mat-toolbar color="primary">{{name}}</mat-toolbar>
        <form [formGroup]="newpasswordForm" class="form" fxLayoutAlign="stretch" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">


                <mat-form-field class="field" appearance="outline">
                    <mat-label for="userName">Email Id</mat-label>
                    <mat-icon matSuffix>mail</mat-icon>
                    <input matInput id="userName" autocomplete="off" type="text" placeholder="userName@email.com "
                        formControlName="userName" maxlength="40">
                    <mat-error *ngIf="newpasswordForm.get('userName').errors?.required">User Name is Required
                    </mat-error>
                    <mat-error *ngIf="newpasswordForm.get('userName').errors?.minlength">User Name must have 3
                        characters</mat-error>
                    <mat-error *ngIf="newpasswordForm.get('userName').errors?.pattern">Please enter valid email format
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="field" appearance="outline">
                    <mat-label for="phoneNumber">OTP Number</mat-label>
                    <mat-icon matSuffix>textsms
                    </mat-icon>
                    <input matInput id="otpNumber" autocomplete="off" type="text" placeholder="Enter OTP "
                        formControlName="otpNumber" maxlength="4">
                    <mat-error *ngIf="newpasswordForm.get('otpNumber').errors?.required">OTP Number is Required
                    </mat-error>
                    <mat-error *ngIf="newpasswordForm.get('otpNumber').errors?.minlength">OTP Number must have
                        4
                        characters</mat-error>
                    <mat-error *ngIf="newpasswordForm.get('otpNumber').errors?.pattern">Please enter valid OTP
                        Number
                    </mat-error>
                </mat-form-field>
            </div>

            <div>

                <mat-form-field class="fields" appearance="outline">
                    <mat-label>password</mat-label>
                    <input matInput formControlName="password" autocomplete="off" placeholder="password"
                        [type]="hide ? 'password' : 'text'">
                    <mat-error *ngIf="newpasswordForm.get('password').errors?.required">Password Is Required</mat-error>
                    <mat-error *ngIf="newpasswordForm.get('password').errors?.minlength">Password Must have atlest 8
                        characters</mat-error>
                    <mat-error *ngIf="newpasswordForm.get('password').errors?.maxlength">Password Must have less than 15
                        Characters</mat-error>
                    <mat-error *ngIf="newpasswordForm.get('password').errors?.pattern">Password Must have one lower case
                        letter, one Uppercase letter, one Alpha numeric symbol, one number
                        Characters</mat-error>
                    <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>


                <mat-form-field class="fields" appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input matInput formControlName="cpassword" autocomplete="off" placeholder="confirm password"
                        [type]="hide ? 'cpassword' : 'text'">
                    <mat-error *ngIf="newpasswordForm.get('cpassword').errors?.required"> Confirm Password Is Required
                    </mat-error>
                    <mat-error *ngIf="newpasswordForm.get('cpassword').errors?.minlength"> Confirm Password Must have
                        atlest 8
                        characters</mat-error>
                    <mat-error *ngIf="newpasswordForm.get('cpassword').errors?.maxlength"> Confirm Password Must have
                        less
                        than 15
                        Characters</mat-error>
                    <mat-error *ngIf="newpasswordForm.get('password').errors?.pattern">Confirm Password Must have one
                        lower
                        case letter, one Uppercase letter, one Alpha numeric symbol, one number
                        Characters</mat-error>
                    <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <div class="buttons">
                    <div class="space"></div>
                    <div class="next" align="end">
                        <button mat-raised-button color="primary"
                            aria-label="Button that displays a tooltip when focused or hovered over">Sign
                            in</button>&nbsp;
                        <button mat-raised-button color="primary"
                            aria-label="Button that displays a tooltip when focused or hovered over"
                            (click)="submit()">Submit</button>

                    </div>


                </div>