<ul class="breadcrumb">
  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12" >
  <li><a (click)="gotoHome()">Home</a></li>
  <li><a (click)="details()">{{ProjectName}}</a></li>
  <li>Update Issues</li>
 </div>
  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12" >
  <li class="btn2">Customer Name :<b class="cName">{{customerName}}</b></li>
 </div>
 </ul>
 <div class="card">
  <div class="card-header">
  <h5>
  <strong class="mr-3">Update Issue</strong>
  </h5>
  </div>
  <div class="card-body">
  <form [formGroup]="updateIssueForm">
  <div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
  <label>Ticket Id</label>
  <input nz-input placeholder="Ticket Id" formControlName='ticktId' readonly/>
  </div>
  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
  <label nzFor="name"> Title <span class="validationtest">*</span></label>
  <input nz-input placeholder="Title" formControlName='title' maxlength="71"/>
  <div *ngIf="this.updateIssueForm.get('title').errors?.required && this.updateIssueForm.get('title').touched">
  <span class="text-danger">Title Is Required</span></div>
  <div *ngIf="this.updateIssueForm.get('title').errors?.maxlength && this.updateIssueForm.get('title').invalid">
  <span class="text-danger">Only 70 characters are allowed</span>
  </div>
  <div *ngIf="this.updateIssueForm.get('title').errors?.pattern && this.updateIssueForm.get('title').invalid">
  <span class="text-danger">Only Characters Are Allowed</span></div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <label>Issue Type</label>
  <nz-select nzAllowClear nzPlaceHolder="Issue Type" formControlName='issueType' >
  <nz-option *ngFor="let option of issueType" [nzValue]="option.optionKey" [nzLabel]="option.optionValue">
  </nz-option>
  </nz-select>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <label nzFor="name">Estimated Time (hrs.)</label>
  <input nzType="number" nz-input placeholder=" Estimated Time" formControlName='estimatedTime' maxlength="11" />
  <div
  *ngIf="this.updateIssueForm.get('estimatedTime').errors?.pattern && this.updateIssueForm.get('estimatedTime').invalid">
  <span class="text-danger">Only Digits are allowed</span></div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <label>Consumed Time (hrs.)</label>
  <input nzType="number" nz-input placeholder=" Consumed Time" formControlName='consumedTime' maxlength="11" />
 <div
  *ngIf="this.updateIssueForm.get('consumedTime').errors?.pattern && this.updateIssueForm.get('consumedTime').invalid">
  <span class="text-danger">Only Digits are allowed</span></div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
  <label>Status</label>
  <nz-select nzAllowClear nzPlaceHolder="Status" formControlName='status'>
  <nz-option *ngFor="let option of status" [nzValue]="option.optionKey" [nzLabel]="option.optionValue">
  </nz-option>
  </nz-select>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
  <label>Percentage Complete</label>
  <input type="number" nz-input placeholder="Percentage Complete" formControlName='percentageComplete'
  maxlength="3" />
 <div
  *ngIf="this.updateIssueForm.get('percentageComplete').errors?.maxlength && this.updateIssueForm.get('percentageComplete').invalid">
  <span class="text-danger">Upto 3 digits are allowed</span>
 </div>
 <div
  *ngIf="this.updateIssueForm.get('percentageComplete').errors?.pattern && this.updateIssueForm.get('percentageComplete').invalid">
  <span class="text-danger">Upto 3 digits Are Allowed</span></div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <label>Priority</label>
  <nz-select nzAllowClear nzPlaceHolder="Priority" formControlName='priority'>
  <nz-option *ngFor="let option of priority" [nzValue]="option.optionKey" [nzLabel]="option.optionValue">
  </nz-option>
  </nz-select>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <label>Severity</label>
  <nz-select nzAllowClear nzPlaceHolder="Severity" formControlName='severity'>
  <nz-option *ngFor="let option of severity" [nzValue]="option.optionKey" [nzLabel]="option.optionValue">
  </nz-option>
  </nz-select>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <label>Bucket</label>
  <nz-select nzAllowClear nzPlaceHolder="Bucket" formControlName='bucket'>
  <nz-option *ngFor="let option of bucket" [nzValue]="option.optionKey" [nzLabel]="option.optionValue">
  </nz-option>
  </nz-select>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
  <label>Category</label>
  <nz-select nzAllowClear nzPlaceHolder="Category" formControlName='category'>
  <nz-option *ngFor="let option of category" [nzValue]="option.optionKey" [nzLabel]="option.optionValue">
  </nz-option>
  </nz-select>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
  <label>Resolution Type</label>
  <nz-select nzAllowClear nzPlaceHolder="Resolution Type" formControlName='resolutionType'>
  <nz-option *ngFor="let option of resulationType" [nzValue]="option.optionKey" [nzLabel]="option.optionValue">
  </nz-option>
  </nz-select>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
  <label nzFor="name">Components</label>
  <input nz-input placeholder="Components" formControlName='components' maxlength="101"/>
 <div
  *ngIf="this.updateIssueForm.get('components').errors?.maxlength && this.updateIssueForm.get('components').invalid">
  <span class="text-danger">Only 100 Characters are allowed</span>
 </div>
 <div
  *ngIf="this.updateIssueForm.get('components').errors?.pattern && this.updateIssueForm.get('components').invalid">
  <span class="text-danger">Only Characters Are Allowed</span></div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
  <label nzFor="name">Environments</label>
  <input nz-input placeholder="Environments" formControlName='environments' maxlength="26"/>
 <div
  *ngIf="this.updateIssueForm.get('environments').errors?.maxlength && this.updateIssueForm.get('environments').invalid">
  <span class="text-danger">Only 25 Characters are allowed</span>
 </div>
 <div
  *ngIf="this.updateIssueForm.get('environments').errors?.pattern && this.updateIssueForm.get('environments').invalid">
  <span class="text-danger">Only Characters Are Allowed</span></div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
  <label nzFor="name">Affected Versions</label>
  <input nz-input placeholder="Affected Versions" formControlName='affectedVersions' maxlength="51"/>
 <div
  *ngIf="this.updateIssueForm.get('affectedVersions').errors?.maxlength && this.updateIssueForm.get('affectedVersions').invalid">
  <span class="text-danger">Only 50 Characters are allowed</span>
 </div>
 <div
  *ngIf="this.updateIssueForm.get('affectedVersions').errors?.pattern && this.updateIssueForm.get('affectedVersions').invalid">
  <span class="text-danger">Only Characters Are Allowed</span></div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
  <label nzFor="name">Labels</label>
  <input nz-input placeholder="Labels" formControlName='labels' maxlength="51"/>
  <div *ngIf="this.updateIssueForm.get('labels').errors?.maxlength && this.updateIssueForm.get('labels').invalid">
  <span class="text-danger">Only 50 Characters are allowed</span>
  </div>
  <div *ngIf="this.updateIssueForm.get('labels').errors?.pattern && this.updateIssueForm.get('labels').invalid">
  <span class="text-danger">Only Characters Are Allowed</span></div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
  <label nzFor="name">Fixed Versions</label>
  <input nz-input placeholder="Fixed Versions" formControlName='fixedVersions' maxlength="51"/>
 <div
  *ngIf="this.updateIssueForm.get('fixedVersions').errors?.maxlength && this.updateIssueForm.get('fixedVersions').invalid">
  <span class="text-danger">Only 50 Characters are allowed</span>
 </div>
 <div
  *ngIf="this.updateIssueForm.get('fixedVersions').errors?.pattern && this.updateIssueForm.get('fixedVersions').invalid">
  <span class="text-danger">Only Characters Are Allowed</span></div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
  <label nzFor="name">References</label>
  <input nz-input placeholder="References" formControlName='references' />
 <div
  *ngIf="this.updateIssueForm.get('references').errors?.maxlength && this.updateIssueForm.get('references').invalid">
  <span class="text-danger">Only 50 Characters are allowed</span>
 </div>
 <div
  *ngIf="this.updateIssueForm.get('references').errors?.pattern && this.updateIssueForm.get('references').invalid">
  <span class="text-danger">Only Characters Are Allowed</span></div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <label>Assigned To</label>
  <nz-select [nzSize]="size" nzMode="tags" nzPlaceHolder="Choose Assigned Persons" name="sDate" formControlName="assignedTo" >
  <nz-option *ngFor="let option of listOfResources" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
  </nz-select>
 <div
  *ngIf="this.updateIssueForm.get('assignedTo').errors?.maxlength && this.updateIssueForm.get('assignedTo').invalid">
  <span class="text-danger">Only 25 Characters are allowed</span>
 </div>
 <div
  *ngIf="this.updateIssueForm.get('assignedTo').errors?.pattern && this.updateIssueForm.get('assignedTo').invalid">
  <span class="text-danger">Only Characters Are Allowed</span></div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <label>Deployed By</label>
  <nz-select [nzSize]="size" nzMode="tags" nzPlaceHolder="Choose Assigned Persons" name="sDate" formControlName="deployedBY" >
  <nz-option *ngFor="let option of listOfResources" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
  </nz-select>
  <div *ngIf="this.updateIssueForm.get('deployedBY').errors?.maxlength && this.updateIssueForm.get('deployedBY').invalid">
  <span class="text-danger">Only 25 Characters are allowed</span>
  </div>
  <div *ngIf="this.updateIssueForm.get('deployedBY').errors?.pattern && this.updateIssueForm.get('deployedBY').invalid">
  <span class="text-danger">Only Characters Are Allowed</span></div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <label>Created Date</label>
  <nz-date-picker nzPlaceHolder='mm-dd-yy' formControlName='createdDate'></nz-date-picker>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <label>Assigned Date</label>
  <nz-date-picker nzPlaceHolder='mm-dd-yy' formControlName='assignedDate'></nz-date-picker>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <label>Deployed Date</label>
  <nz-date-picker nzPlaceHolder='mm-dd-yy' formControlName='deployedDate'></nz-date-picker>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <label>Target Date</label>
  <nz-date-picker nzPlaceHolder='yyyy-mm-dd' formControlName='targetDate'></nz-date-picker>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <label>Resolved Date</label>
  <nz-date-picker nzPlaceHolder='yyyy-mm-dd' formControlName='resolvedDate'></nz-date-picker>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
  <label>Closed Date</label>
  <nz-date-picker nzPlaceHolder='yyyy-mm-dd' formControlName='closedDate'></nz-date-picker>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <label>Description</label>
  <textarea nz-input placeholder="Please enter description" formControlName='description' nzAutosize maxlength="256"></textarea>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <label>Root Cause Analysis</label>
  <textarea nz-input placeholder="Please enter Root Cause Analysis" formControlName='rootCauseAnalysis'
  nzAutosize maxlength="256"></textarea>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <label>Resolution</label>
  <textarea nz-input placeholder="Please enter resolution" formControlName='resolution' nzAutosize maxlength="256"></textarea>
  </div><br>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <button class="btn" [disabled]="!updateIssueForm.valid" type="submit" nz-button nzType="primary" (click)='save()'><i nz-icon nzType="edit"
  nzTheme="outline"></i>Update</button>&nbsp;
  <button class="btn1" nz-button nzType="primary" (click)="resetIssue()"><i nz-icon nzType="sync"
  nzTheme="outline"></i>Reset</button>
  </div>
  </div>
  </form>
  </div>
 </div>
