<div fxLayoutAlign="center center" class="card">
    <mat-card fxFlex="35">
        <mat-toolbar color="primary">{{Title}}</mat-toolbar>
        <form [formGroup]="forgotForm" fxLayoutAlign="stretch" fxLayout="column" class="form">
            <h3>Enter your Email Id</h3>

            <mat-form-field class="field" appearance="outline">
                <mat-label for="userName">Email Id</mat-label>
                <mat-icon matSuffix>mail</mat-icon>
                <input matInput id="userName" autocomplete="off" type="text" placeholder="userName@email.com "
                    formControlName="userName" maxlength="40"> 
                <mat-error *ngIf="forgotForm.get('userName').errors?.required">User Name is Required
                </mat-error>
                <mat-error *ngIf="forgotForm.get('userName').errors?.minlength">User Name must have 3
                    characters</mat-error>
                <mat-error *ngIf="forgotForm.get('userName').errors?.pattern">Please enter valid email format
                </mat-error>
            </mat-form-field>
        </form>

        <div class="buttons" >
            <!-- <div class="space"></div> -->

            <button mat-raised-button color="primary"  (click)="next()" matTooltip="OTP will be sended to mail"
            aria-label="Button that displays a tooltip when focused or hovered over">Generate Otp</button>

        </div>
   
    </mat-card>
</div>