<nz-breadcrumb>
    <div>
        <a (click)="details()">
            <p class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ProjectName}} <span class="arrow"></span> </p>
        </a>
    </div>
    <nz-breadcrumb-item>
        <p class="bread">&nbsp;&nbsp;&nbsp;&nbsp;MileStones</p>
    </nz-breadcrumb-item>
</nz-breadcrumb>
<form [formGroup]="prjForm">
    <div class="card">
        <nz-page-header class="site-page-header" nzTitle="{{pName}} Milestones" style="padding-bottom: 0px;">
        </nz-page-header>
        <div class="card-body" style="padding-top: 0px;">
            <div class="row">
                <div class="col-4">
                    <label Required nzFor="Name">Customer Name :&nbsp;{{cName}}</label>&nbsp;
                </div>
                <div class="col-4">
                    <label>Project Name :&nbsp;{{pName}}</label>&nbsp;
                </div>
                <div class="col-4" style="padding-left: 170px;">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input type="text" nz-input placeholder="Search here" />
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button nz-button (input)="onSearch($event.target.value)" nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
                    </ng-template>
                </div>
            </div>
            <div class="row">

                
<nz-collapse nzAccordion>
    <nz-collapse-panel  [nzHeader]="header" [nzActive]="true">
        <form [formGroup]="searchForm" >
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <label>Search By Title</label>
                <input nz-input placeholder="Task Name" name="title" formControlName="searchValue"   />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <label>Search By Start Date</label>
                <nz-date-picker  formControlName="searchStartDate" nzFormat="MM-dd-yyyy"></nz-date-picker>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <label>Search By End Date</label>
                <nz-date-picker formControlName="searchEndDate" nzFormat="MM-dd-yyyy"></nz-date-picker>
            </div>
            <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <label>Search By Type</label>
       <nz-select nzAllowClear  formControlName="searchType"  [(ngModel)]="typeSelected" nzPlaceHolder="Status">
          <nz-option name="type"   *ngFor="let option of optionList" [nzValue]="option.value" [nzLabel]="option.label">
          </nz-option>
      </nz-select> 
            </div> -->
            <div >
                <button class="btn" (click)="getAllData()" nz-button nzType="primary"><i nz-icon nzType="search"></i>Search</button>
            </div>
            <div>
                <button class="btn" (click)="resetSearchFields()" nz-button nzType="primary"><i nz-icon nzType="redo" ></i>Reset</button>
            </div>
        </div>
    </form>
    </nz-collapse-panel>
</nz-collapse>



            </div>
        </div>
    </div>

</form>
<div class="card">
    <div class="card-body">
        <div  nz-row>
            <div class="col-12">
                <button nz-button [nzType]="'primary'" class="add" (click)="AddRow()" style="float: right; margin-top:-8px; margin-bottom: 7px; "><i nz-icon nzType="plus"></i>Add</button>

                
                <!----------------------------------------- Milstones Table ------------------------------------------------>
                <nz-table #nzTable [nzData]="tableData" nzTableLayout="fixed"
                [nzPaginationPosition] nzShowSizeChanger nzShowPagination [nzFrontPagination]="false"
  [nzTotal]="totalPages" [nzPageSize]="pageSize" [nzPageIndex]="pageNum" 
  (nzPageIndexChange)="onCurrentPageDataChange($event)" (nzPageSizeChange)="onPageSizeChange($event)">
                    <thead>
                        <tr>
                            <th [nzWidth]="'5px'">TITLE</th>
                            <th [nzWidth]="'3px'">START DATE</th>
                            <th [nzWidth]="'3px'">END DATE</th>
                            <th [nzWidth]="'3px'">DURATION<br>(DAYS)</th>
                            <th [nzWidth]="'3px'">DELIEVERABLES </th>
                            <th [nzWidth]="'3px'">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of nzTable.data">
                            <tr>
                                
                                <td><span style="padding: 0px 5px 0px 0px;" *ngIf="item.Type==='D'">
                                    <i nz-icon nzType="cluster" nzTheme="twotone"></i></span>
                                    <span style="padding: 0px 5px 0px 0px;" *ngIf="item.Type==='T'"><i nz-icon nzType="reconciliation"
                                    nzTheme="twotone"></i></span>
                                    <span style="padding: 0px 5px 0px 0px;" *ngIf="item.Type==='M'"> <i nz-icon nzType="flag"
                                    nzTheme="twotone" [nzTwotoneColor]="'#f81229'"></i></span>{{ item.Name }}</td>
                                <td>{{ item.StartDate | date:'MM-dd-yyyy'}}</td>
                                <td>{{ item.EndDate | date:'MM-dd-yyyy' }}</td>
                                <td>{{ item.Duration }}</td>
                                <td [nzExpand]="expandSet.has(item.Id)" (nzExpandChange)="onExpandChange(item.Id, $event)"></td>
                                <td>
                                    <a (click)="startEdit1(item)"><i nz-icon nzType="edit" nzTheme="twotone"></i></a>&nbsp;
                                    <a> <i nz-icon nzType="delete" nzTheme="twotone" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(item.Id)"></i></a>

                                </td>
                            </tr>
                            <tr [nzExpand]="expandSet.has(item.Id)">
                                <nz-page-header class="site-page-header" nzTitle="Deliverables" style="padding-top: 2px;">
                                </nz-page-header>
                               

                                <nz-table #nzTable [nzData]="item.child" nzTableLayout="fixed" [nzShowPagination]="false">
                                    <thead>
                                        <tr>
                                            <th>TITLE</th>
                                            <th>DESCRIPTION</th>
                                            <th>STATUS<br>(%)</th>
                                            <th>UPDATED BY</th>
                                            <th>UPDATED DATE</th>

                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let data1 of nzTable.data">
                                            <tr>
                                                
                                                <td> <span style="padding: 0px 5px 0px 0px;">
                                                    <i nz-icon nzType="cluster" nzTheme="outline"></i></span>{{ data1.Name }}</td>
                                                <td nzEllipsis nz-tooltip [nzTitle]=" data1.Description">{{ data1.Description }}</td>
                                                <td>{{[data1.Status] }}</td>
                                                <td>{{ data1.CreatedBy }}</td>
                                                <td>{{ data1.CreatedDate | date:'MM-dd-yyyy' }}</td>
                                                <td>
                                                    <i nz-icon nzType="edit" (click)="startEdit(data1)" nzTheme="twotone"></i>&nbsp;
                                                    <i nz-icon nzType="delete" nzTheme="twotone" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data1.Id)"></i>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </nz-table>
                                <br>
                                <div style="text-align: right;">
                                    <button nz-button [nzType]="'primary'" class="add" (click)="AddInnerTable(item.Id)" style="float: right; margin-top: -8px;"><i nz-icon nzType="plus"></i>Add</button>
                                </div>
                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>

<ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleSave1()"><i nz-icon nzType="save"></i>Save</button>
    <button nz-button nzType="primary" (click)="handleCancel1()"><i nz-icon nzType="close"></i>Cancel</button>
</ng-template>
<nz-modal [(nzVisible)]="isVisible1" nzWidth="80%" [nzFooter]="modalFooter" nzTitle="Add Deliverables" (nzOnCancel)="handleCancel1()" (nzOnSubmit)="handleSave1()">

    <!------------------------------------------- Add Deliverables------------------------------------- -->
    <form [formGroup]="addDevForm">

        <div nz-row>
            <!-- <nz-form-label id="label" nz-col [nzSpan]="3" Required>Deliverable Title</nz-form-label> -->
            <div nz-col class="gutter-row" >
                <div class="inner-box">
                    <nz-form-item>
                        <nz-form-label id="label" nz-col Required>Deliverable Title</nz-form-label>
                        <nz-form-control nzErrorTip="Please Input Name Here!">
                            <nz-input-group>
                                <input id="labeld" formControlName="intitle" nz-input placeholder="Enter Title">
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- 
            <nz-form-label id="label" nz-col [nzSpan]="2" Required>Status</nz-form-label> -->
            <div nz-col class="gutter-row" [nzSpan]="7">
                <div class="inner-box">
                    <nz-form-item>

                        <nz-form-label id="label" nz-col Required>Status</nz-form-label>
                        <nz-form-control nzErrorTip="Please Input Name Here!">
                            <nz-input-group>
                                <input id="labels"  formControlName="instatus" nz-input placeholder="Enter Status">
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                </div>
            </div>


            <div nz-col class="gutter-row" [nzSpan]="7">
                <div class="inner-box">


                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" id="uploadd" nzFor="role">Uploaded By </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Select Uploaded By !">
                            <input id="labelu" nz-input readonly placeholder="Uploaded By" maxlength="20" formControlName="uploadedBy"  />
                        </nz-form-control>
                    </nz-form-item>

                </div>
            </div>
        </div>
        <div nz-row >

            <!-- <nz-form-label id="label" nz-col [nzSpan]="3" Required> Attachment </nz-form-label> -->
            <div nz-col class="gutter-row" [nzSpan]="6">
                <div class="inner-box">

                    <nz-form-item>
                        <nz-form-label id="label" nz-col Required> Attachment </nz-form-label>
                        <nz-form-control nzErrorTip="Please Select Attachment Here!">
                            <button nz-button class="name1"><i nz-icon nzType="upload"></i>Upload</button>
                        </nz-form-control>
                    </nz-form-item>

                </div>
            </div>



 
            <!-- <nz-form-label id="label" nz-col [nzSpan]="3" Required>Description</nz-form-label> -->
            <div nz-col  [nzSpan]="24" >
                <div class="inner-box">
                    <nz-form-item>
                        <nz-form-label id="label" nz-col Required>Description</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzErrorTip="Please write something here!">
                            <textarea formControlName="desc" nz-input rows="3" class="dec" placeholder="Enter Description"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </div>
  
    </form>
</nz-modal>
<ng-template #modalFooter1>
    <button nz-button nzType="primary" (click)="handleSave2()"><i nz-icon nzType="save"></i>Save</button>
    <button nz-button nzType="primary" (click)="handleCancel2()"><i nz-icon nzType="close"></i>Cancel</button>
</ng-template>


<!--=--------------------------------------------------- Edit Deliverables-------------------------------------------------------------------- -->
<nz-modal [(nzVisible)]="isVisible2" nzWidth="75%" [nzFooter]="modalFooter1" nzTitle="Edit Deliverables" (nzOnSubmit)="handleSave2()" (nzOnCancel)="handleCancel2()">
    <form [formGroup]="devForm">
        <div nz-row >
            <!-- <nz-form-label id="label" nz-col [nzSpan]="3" Required>Deliverable Title</nz-form-label> -->
            <div nz-col class="gutter-row" >
                <div class="inner-box">
                    <nz-form-item>
                        <nz-form-label id="label" nz-col Required>Deliverable Title</nz-form-label>
                        <nz-form-control nzErrorTip="Please Input Name Here!">
                            <nz-input-group>
                                <input  id="labeld" formControlName="inEdittitle" nz-input placeholder="Enter Title">
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <!-- <nz-form-label id="label" nz-col [nzSpan]="2" Required>Status</nz-form-label> -->
            <div nz-col class="gutter-row" [nzSpan]="7">
                <div class="inner-box">
                    <nz-form-item>
                        <nz-form-label id="label" nz-col Required>Status</nz-form-label>
                        <nz-form-control nzErrorTip="Please Input Name Here!">
                            <nz-input-group>
                                <input  id="labels" formControlName="inEditstatus" nz-input placeholder="Enter Status">
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-col class="gutter-row" [nzSpan]="8">
                <div class="inner-box">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24"  id="uploadd" nzFor="role">Uploaded By</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Select Uploaded By !">
                            <input id="labelu" nz-input readonly placeholder="Uploaded By" maxlength="20" formControlName="uploadedBy"  />
                        </nz-form-control>
                    </nz-form-item>

                    <!-- <nz-form-item>
                        <nz-form-label id="label" nz-col Required>Deliverable Title</nz-form-label>
                        <nz-form-control nzErrorTip="Please Input Name Here!">
                            <nz-input-group>
                                <input formControlName="inEdittitle" nz-input placeholder="Enter Title">
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item> -->
                </div>
            </div>


            <!-- <nz-form-label id="label" nz-col [nzSpan]="3" Required> Attachment </nz-form-label> -->
            <div nz-col class="gutter-row" [nzSpan]="9">
                <div class="inner-box">
                    <nz-form-item>
                        <nz-form-label  nz-col Required> Attachment </nz-form-label>
                        <nz-form-control nzErrorTip="Please Select Attachment Here!">
                            <button nz-button class="name2"><i nz-icon nzType="upload"></i>Upload a File Here</button>
                        </nz-form-control>
                    </nz-form-item>
                    <!-- <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="role">Uploaded By</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Select Uploaded By !">
                            <input class="name" nz-input readonly placeholder="Uploaded By" maxlength="20" formControlName="uploadedBy"  />
                        </nz-form-control>
                    </nz-form-item> -->
                </div>
            </div>


        </div>

        <div nz-row>
            <!-- <nz-form-label id="label" nz-col [nzSpan]="3" Required>Description</nz-form-label> -->
            <div nz-col class="gutter-row" [nzSpan]="24">
                <div class="inner-box">
                    <nz-form-item>
                        <nz-form-label id="label" nz-col Required>Description</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzErrorTip="Please write something here!">
                            <textarea id="labelText" formControlName="description" nz-input rows="3" placeholder="Enter Description"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </div>
        <ng-template #modalFooter1>
            <button nz-button nzType="primary" (click)="handleSave2()"><i nz-icon nzType="save"></i>Save</button>
            <button nz-button nzType="primary" (click)="handleCancel2()"><i nz-icon nzType="close"></i>Cancel</button>
        </ng-template>

    </form>
</nz-modal>


<ng-template #modalFooter2>
    <button nz-button nzType="primary" (click)="Save()"><i nz-icon nzType="save"></i>Save</button>
    <button nz-button nzType="primary" (click)="Cancel()"><i nz-icon nzType="close"></i>Cancel</button>
</ng-template>

<nz-modal [(nzVisible)]="isVisible" nzWidth="65%" nzTitle="Add Milstones" [nzFooter]="modalFooter2" (nzOnCancel)="handleCancel()">
    <!-- -----------------------------------------------Add Milestones------------------------------------------------------------------------------- -->
    <form [formGroup]="addForm" (ngSubmit)="submitAddForm()">


        <div nz-row >
            <!-- [nzGutter]="{ xs: 32, sm: 32, md: 32, lg: 32 } -->
            <!-- <nz-form-label id="label" nz-col [nzSpan]="2" Required> Title </nz-form-label> -->
            <div nz-col class="gutter-row">
                <div class="inner-box">
                    <nz-form-item>
                        <nz-form-label id="label" nz-col Required> Title </nz-form-label>
                        <nz-form-control nzErrorTip="Please Input Name Here!">
                            <nz-input-group>
                                <input formControlName="addTitle"  nz-input placeholder="Enter Title" style="width: 175px;">
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <!-- <nz-form-label id="label" nz-col [nzSpan]="3" Required>Start Date</nz-form-label> -->
            <div nz-col class="gutter-row" >
                <div class="inner-box">


                    <nz-form-item>
                        <nz-form-label id="label1" nz-col Required>Start Date</nz-form-label>
                        <nz-form-control nzErrorTip="Please Input The Start Date!">
                            <!-- <nz-form-control nzErrorTip="Please Input The Start Date!">
                                <nz-date-picker   nzPlaceHolder='Start Date'  nzFormat="MM-dd-yyyy" nzDisabled formControlName='sDate2'></nz-date-picker>
                              </nz-form-control> -->

                            <nz-date-picker name="startDate" nzPlaceHolder='Start Date' [nzFormat]="'MM-dd-yyyy'" formControlName="sDate" style="width: 175px;"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>

                </div>
            </div>

            <!-- <nz-form-label id="label" nz-col [nzSpan]="3" Required>End Date</nz-form-label> -->
            <div nz-col class="gutter-row" >
                <div class="inner-box">


                    <nz-form-item>
                        <nz-form-label id="label2" nz-col Required>End Date</nz-form-label>
                        <nz-form-control nzErrorTip="Please Input The End Date!">
                            <nz-date-picker name="endDate" placeholder="End Date" [nzFormat]="'MM-dd-yyyy'" formControlName="eDate" style="width: 175px;">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>


                </div>
            </div>

        </div>
    </form>
</nz-modal>

<ng-template #modalFooter3>
    <button nz-button nzType="primary" (click)="Save3()"><i nz-icon nzType="save"></i>Save</button>
    <button nz-button nzType="primary" (click)="Cancel3()"><i nz-icon nzType="close"></i>Cancel</button>
</ng-template>

<nz-modal [(nzVisible)]="visiblEdit" nzWidth="65%" nzTitle="Edit Milstones" [nzFooter]="modalFooter3" (nzOnCancel)="Cancel3()">
    <!-- -----------------------------------------------Edit Milestones------------------------------------------------------------------------------- -->
    <form [formGroup]="editmileForm">


        <div nz-row>
            <!-- <nz-form-label id="label" nz-col [nzSpan]="2" Required> Title </nz-form-label> -->
            <div nz-col class="gutter-row" [nzSpan]="4.2">
                <div class="inner-box">
                    <nz-form-item>
                        <nz-form-label id="label" nz-col Required> Title </nz-form-label>
                        <nz-form-control nzErrorTip="Please Input Name Here!">
                            <nz-input-group>
                                <input formControlName="editDevTitle"  nz-input placeholder="Enter Title" style="width: 165px;" >
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <!-- <nz-form-label id="label" nz-col [nzSpan]="3" Required>Start Date</nz-form-label> -->
            <div nz-col class="gutter-row" [nzSpan]="5.5">
                <div class="inner-box">


                    <nz-form-item>
                        <nz-form-label id="label1" nz-col Required>Start Date</nz-form-label>
                        <nz-form-control nzErrorTip="Please Input The Start Date!">
                            <!-- <nz-form-control nzErrorTip="Please Input The Start Date!">
                                <nz-date-picker   nzPlaceHolder='Start Date'  nzFormat="MM-dd-yyyy" nzDisabled formControlName='sDate2'></nz-date-picker>
                              </nz-form-control> -->
                            <nz-date-picker name="startDate" nzFormat="MM-dd-yyyy" formControlName="editstartDate" style="width: 190px;"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>

                </div>
            </div>

            <!-- <nz-form-label id="label" nz-col [nzSpan]="3" Required>End Date</nz-form-label> -->
            <div nz-col class="gutter-row" [nzSpan]="5.5">
                <div class="inner-box">


                    <nz-form-item>
                        <nz-form-label id="label2" nz-col Required>End Date</nz-form-label>
                        <nz-form-control nzErrorTip="Please Input The End Date!">
                            <nz-date-picker name="endDate" placeholder="End Date" nzFormat="MM-dd-yyyy" formControlName="editendDate" style="width: 190px;">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>


                </div>
            </div>

        </div>
    </form>

</nz-modal>