th{
    margin-right:50px;
}
h4{
    margin-right:50px;  
}
.font{
    font-size: 14px;
}
a{
    margin-right:30px;  
}

.container{
    padding-top:7px;
}
table{
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: rgb(19, 17, 17);
 }
 table tr:nth-child(odd) {  
    background-color: white;  
     }   
    
     table tr:nth-child(even) {  
      
        background-color: #f2f2f2;  
     }
     th{
        background-color: #f2f2f2;  
     }
  