<div style="background-color: rgb(240,240,240);">
    <div class="card">




        <div class="card-body">
            <h3>{{projectname1}} Documents</h3><br>
            <form [formGroup]="docform">
                <div class="row">


                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <label>Document Type :</label>&nbsp;
                        <nz-select nzAllowClear nzPlaceHolder="Document Type" formControlName="documentType"
                            (onSelectionChange)="sample()">
                            <nz-option *ngFor="let option of optionList1" [nzValue]="option" [nzLabel]="option.label">
                            </nz-option>
                        </nz-select>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12"></div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">

                        <nz-input-group nzSearch nzSize="medium" [nzAddOnAfter]="suffixIconButton" class="search">
                            <input placeholder="Search Here" nz-input formControlName="searchdata"
                                (input)="onSearch($event.target.value)" (input)="onChange($event)"
                                [nzAutocomplete]="auto" />
                        </nz-input-group>
                        <ng-template #suffixIconButton>
                            <button nz-button nzType="primary" nzSize="medium" nzSearch>
                                <i nz-icon nzType="search" nzTheme="outline"></i>
                            </button>
                        </ng-template>
                        <nz-autocomplete #auto>
                            <nz-auto-option class="global-search-item" *ngFor="let option of options1"
                                [nzValue]="option.category">
                                Found {{ option.value }} on
                                <a class="global-search-item-desc"
                                    [href]="'https://s.taobao.com/search?q=' + option.value" target="_blank"
                                    rel="noopener noreferrer">
                                    {{ option.category }}
                                </a>
                                <span class="global-search-item-count">{{ option.count }} results</span>
                            </nz-auto-option>
                        </nz-autocomplete>

                        <!-- <div>
                            <span class="validationtest"
                                *ngIf="docform.controls.searchdata.touched && docform.controls.searchdata.invalid && docform.controls.searchdata.errors.required">
                                Please select data
                            </span>
                        </div> -->
                    </div>
                    <!-- <div class="col-4">

            </div> -->
                </div>

            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    
                        <button class="btn" (click)="addRow()" nz-button nzType="primary"><i nz-icon nzType="plus"></i>Add</button>
                  
                    <br>
                    <br>
                    <br>
                    <nz-table #expandTable [nzData]="tableData">
                        <thead>
                            <tr>

                                <th [nzWidth]="'250px'">DOCUMENT TITLE</th>
                                <th>UPLOADED BY</th>
                                <th>UPLOADED DATE</th>
                                <th>VIEW</th>
                                <th>ACTION</th>

                            </tr>
                        </thead>
                        <tbody>

                            <!-- <ng-container *ngFor="let item of mapOfExpandedData[data.id]"> -->
                            <tr *ngFor="let data of tableData">

                                <td>

                                    {{data.fileName}}

                                </td>
                                <td>{{data.createdBy}}</td>

                                <td> {{data.createdDate | date: 'MM-dd-yyyy'}}</td>
                                <td><i nz-icon nzType="eye" nzTheme="outline" (click)="showDocument()"></i></td>


                                <td>




                                    <span >
                                        <i nz-icon nzType="edit" (click)="editData(data)" nzTheme="outline"></i>
                                    </span>

                                    <span Style="padding-left:  19px;">
                                        <i nz-icon nzType="delete" nz-popconfirm
                                            nzPopconfirmTitle="Are you sure delete this document?"
                                            (nzOnConfirm)="deleteRow(data)" (nzOnCancel)="cancel()" nzTheme="fill"></i>
                                    </span>
                                </td>

                                <!-- <ng-template #other_tag>
                                        <td  >__</td>
                                    </ng-template>
                                    <td style="padding-left: 30px;" *ngIf="(item.name==='Services Bay')||(item.name==='Services Bay-2')||(item.name==='Services Bay-3')||(item.name==='Services Bay-3.1')
              ||(item.name==='Status Tracker')else other_tag">
                                        <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                                            [nzHeaders]="{ authorization: 'authorization-text' }"
                                            (nzChange)="handleChange($event)">
                                            <i nz-icon nzType="upload" nzTheme="outline"></i></nz-upload>
                                    </td>
                                    <td style="padding-left: 30px;" *ngIf="(item.name==='Services Bay-1')||(item.name==='Services Bay-2.1')
                                    ||(item.name==='Services Bay-3.1.1')||(item.name==='Services Bay-3.1.1.2');else other_tag">
                                        <i nz-icon nzType="delete" nzTheme="fill"  nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deletefile(data.key)"
                                           ></i>
                                    </td> -->
                            </tr>

                            <!-- </ng-container> -->


                        </tbody>

                    </nz-table>

                </div>
            </div>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    [nzWidth]="'920px'" (nzOnCancel)="handleCancel()" [nzBodyStyle]="{height: '450px'}">
    <ng-template #modalTitle>
        Document
    </ng-template>

    <ng-template #modalContent>
        <iframe src="/app/assets/1.jpg" title="W3Schools Free Online Web Tutorials" style="width: 100%;height:100%">
        </iframe>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="handleOk()">Ok</button>

    </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="editVisible" [nzTitle]="modalTitle1" [nzContent]="modalContent1" [nzFooter]="modalFooter1"
nzWidth="80%" nzHeight="60%" (nzOnCancel)="handleCancel1()">
    <ng-template #modalTitle1>
        Edit Document
    </ng-template>

    <ng-template #modalContent1>
        <form [formGroup]="editform">
            <div class="row">
                <div class="col-4">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24">Document Name</nz-form-label>&nbsp;
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Enter Document Name !" >
                            <input class="name" nz-input placeholder="Document Name" maxlength="20"
                                formControlName="editName" id="fName" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
          
        
                <div>
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="sDate">Uploaded Date</nz-form-label>&nbsp;
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Select Uploaded Date!">
                            <nz-date-picker class="name" [nzDisabled]="'true'" [nzFormat]="'MM-dd-yyyy'"
                                nzPlaceHolder='Uploaded Date' formControlName='uploadedDate'></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row">
                
                <div class="col-4">
                    <nz-form-label [nzSm]="8" [nzXs]="24"  nzFor="sDate">Attachment
                    </nz-form-label>&nbsp;
                    <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                        [nzHeaders]="{ authorization: 'authorization-text' }" formControlName='attachment'
                        (nzChange)="handleChange($event)" style="padding-left: 20px;">
                        <button nz-button><i nz-icon nzType="upload"></i>Click to Upload</button>
                    </nz-upload>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #modalFooter1>
        <button nz-button nzType="primary" (click)="handleOk1(data)">  <i nz-icon nzType="edit"></i>Update</button>
        <button nz-button nzType="primary" (click)="handleCancel1()">  <i nz-icon nzType="close"></i>Cancel</button>

    </ng-template>
</nz-modal>


<nz-modal [(nzVisible)]="isAddVisible" nzWidth="80%" nzHeight="60%" nzTitle="Add Project Documents"
    (nzOnCancel)="Cancel()" [nzFooter]="modalFooter2">

    <form nz-form [formGroup]="addform" >
        <!-- <div class="row">
            <div class="col-4">
                <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Documentsss Name</nz-form-label>&nbsp;
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Document Name !" >
                        <input class="name" nz-input placeholder="Document Name" maxlength="20"
                            formControlName="addName" id="fName" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-4">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="role">Uploaded By</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Select Uploaded By !">
                        <input class="name" nz-input  readonly placeholder="Uploaded By" maxlength="20"
                            formControlName="uploadedBy" id="fName" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div>
                <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="sDate">Uploaded Date</nz-form-label>&nbsp;
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Select Uploaded Date!">
                        <nz-date-picker class="name" [nzDisabled]="'true'" [nzFormat]="'MM-dd-yyyy'"
                            nzPlaceHolder='Uploaded Date' formControlName='uploadedDate'></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div> -->

        <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <label>Document Type :</label>&nbsp;
            <nz-select nzAllowClear nzPlaceHolder="Document Type" 
                (onSelectionChange)="sample()">
                <nz-option *ngFor="let option of optionList1" [nzValue]="option" [nzLabel]="option.label">
                </nz-option>
            </nz-select>
        </div>

        

            <!-- <div class="col-4">
                <nz-form-label [nzSm]="8" [nzXs]="24"  nzFor="sDate">Attachment
                </nz-form-label>&nbsp;
                <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                    [nzHeaders]="{ authorization: 'authorization-text' }" formControlName='attachment'
                    (nzChange)="handleChange($event)" style="padding-left: 20px;">
                    <button nz-button><i nz-icon nzType="upload"></i>Click to Upload</button>
                </nz-upload>
            </div> -->
            <div class="clearfix">
                <label>Attachment :</label>
                <!-- <nz-upload
                  nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                  nzListType="picture-card"
                  [(nzFileList)]="fileList"
                  [nzShowButton]="fileList.length < 8"
                  [nzPreview]="handlePreview"
                  formControlName="attachment"
                  (nzChange)="onFileChange($event)"
                >
                  <i nz-icon nzType="plus"></i>
                  <div class="ant-upload-text">Upload</div>
                </nz-upload> -->
                <div>
                    <input type="hidden" name="fileHidden" formControlName="attachment"/>
                    <input type="file" (change)="onFileChange($event)" />
                  </div>
                <!-- <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible = false">
                  <ng-template #modalContent>
                    <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                  </ng-template>
                </nz-modal> -->
              </div>
        </div>
        <ng-template #modalFooter2>
            <button nz-button nzType="primary" (click)="Save()" style="width: 150px;"> <i nz-icon nzType="save"></i>Save</button>
            <button nz-button nzType="primary" (click)="Cancel()"> <i nz-icon nzType="close"></i>Cancel</button>
        </ng-template>
    </form>
</nz-modal>