.example-card {
    // max-width: 500px;
    margin-top:20px;
    // margin-left:33%;
  }
  .example-header-image {
    background-image: url('https://www.w3schools.com/howto/img_avatar.png');
    background-size: cover;  
  }
  .width{
    display: flex;
    width:100%
  }
  .one {
    flex: 2 1 0;
}

.two {
    flex:6 1 0;
 
}
