<div class="fix" >
    <div class="header">
        <app-header></app-header>
    </div>
    
    <div class="body">
        <div class="one">
            <app-sidebar></app-sidebar>
        </div>
        <div class="two"  >
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<!-- <div fxLayout="column">
    <div>
        <app-header></app-header>
    </div>
    <div fxLayout="row" >
        <div fxFlex="13">
            <app-sidebar></app-sidebar>
        </div>
        <div fxFlex="87" >
            <router-outlet></router-outlet>
        </div>
    
</div> -->
