#grid {
  margin-top: 0px !important;
}
.add{
  margin-top: 7px;
}
.author{
  width: 300px;
}
.header{
  margin-left: 10px;
}
.cancel{
  font-weight:bold;
  margin-top: 30px;
  width: 100px;
  color: black !important;
  background-color: #f0f0f0 !important;
  }
  .save{
  font-weight: bold;
  width: 100px;
  }
.valid{
  margin-top: -36px;
  margin-left: 45%;
}